exportPattern("^[[:alpha:]]+")
import(Rpdb)
importFrom("readr","read_table")
importFrom("Biostrings","pairwiseAlignment")
importFrom("seqinr","s2c","c2s","write.fasta")
importFrom("grDevices", "rainbow")
importFrom("graphics", "barplot", "legend", "par", "plot", "text")
importFrom("utils", "data", "read.table", "write.table")
importFrom("stats", "ecdf", "ks.test" ,"cutree", "dist", "ecdf", "hclust")
importFrom("grDevices", "dev.new", "rainbow")
