exportPattern("^[[:alpha:]]+")
import(Rpdb)
import(scales)
importFrom("dplyr", "%>%")
importFrom("seqinr","s2c","c2s","as.alignment")
importFrom("grDevices", "rainbow")
importFrom("graphics", "barplot", "legend", "par", "plot", "text")
importFrom("utils", "data", "read.table", "write.table")
importFrom("stats", "ecdf", "ks.test")
importFrom("grDevices", "dev.new")
importFrom("readr","read_table")
importFrom("Biostrings","AA_STANDARD","pairwiseAlignment")
importFrom("progress","progress_bar")
